<nav class="navbar navbar-expand-lg btn-modal-head">
    <div class="container-fluid sticky btn-modal-head" id="topmenu">

        <button type="button" id="sidebarCollapse" class="btn btn-modal-head">
            <i class="fas fa-align-left"></i>
        </button>
        <ul class="nav ml-auto">
            <li class="nav-item">
                 <div class="dropdown">
                    <a class="nav-link" href="#"><i class="fas fa-comment-alt"></i>
                        <span class="badge badge-danger">1332</span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                            gg
                        </div>
                </div>
            </li>
            <li class="nav-item">
                <div class="dropdown">
                    <a class="nav-link dropdown-toggle userprofile" id="dropdownMenuButton" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false" href="#"><i class="fas fa-user-circle"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                       <div>fdfdfdfd</div>
                         <div class="dropdown-divider"></div>
                          <span class="float-left" data-toggle="tooltip" data-placement="bottom" title="Profile">
                             <a href="/profile"><i class="fas fa-user-alt"></i></a>
                          </span>
                          <span class="float-right" data-toggle="tooltip" data-placement="bottom" title="Log-Out">
                              <a href="/users/logout" id="logout"><i class="fas fa-sign-out-alt"></i></a>
                          </span>
                    </div>
                </div>


            </li>

        </ul>
    </div>
</nav>